<div class="container">
    <div class="row">
    <div class="total-box col-md-3">
      <% if false %>
        <p class="hoy1">$</p>
      <span>TODAY</span>
    <% end %>
    </div>
    <div class="total-box col-md-3">
      <% if false %>
        
      <% end %>
      <span>YESTERDAY</span>
    </div>
    <div class="total-box col-md-3">
      <% if false %>
       
      <% end %>
      <span>THIS MONTH</span>
    </div>
    <div class="total-box col-md-3">
      <% if false %>
        
      <% end %>
      <span>LAST MONTH</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 3 months</div>
        <div class="panel-body">
          <div id="chartContainer" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By day</div>
        <div class="panel-body">
          <div id="chartContainer2" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Category</div>
        <div class="panel-body">
          <div id="divchart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulated</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
